@{ Layout = "_Layout"; }
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using AndysBakery.Models; 
@model IEnumerable<AndysBakery.Models.Flavor>

@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
{
<div class="links">
  <a href="/flavors/create">Add a new flavor</a>
</div>
}
@if(Model.Any()) {
<h1>Our Flavors</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
  est laborum.
</p>
<ul>
@foreach(Flavor flavor in Model) {
  <li><a href="/flavors/details/@(flavor.FlavorId)">@flavor.Description</a></li>
}
</ul>
 } else {
<h3>No flavors available</h3>
}

