@{ Layout = "_Layout"; } 

@using AndysBakery.Models; 
@model AndysBakery.ViewModels.AddFlavorToTreat;

<h1>Add Flavor</h1>
<form asp-controller="Treats" asp-action="AddFlavor" method="POST">
  <input type="hidden" name="TreatId" value="@Model.TreatId" />
  <div class="form-group">
    <select class="form-control" name="FlavorId" required>
      @foreach (Flavor item in Model.FlavorsList) {
      <option value="@item.FlavorId">@item.Description</option>
      }
    </select>
  </div>
  <input type="submit" value="Create" class="btn" />
</form>
<div class='links'>
  <a href="/treats">Back to all treats</a>
</div>
